<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
  <div class="container">
    <div class="header">Cool Plum</div>
    <div class="content">
    <h1> We received message from <%= @user[:name] %>.</h1>
    <p>From <%= @user[:email] %>, the content are as following</p>
    <p>
      <%=@user[:message]%>
    </p>
    <p>Cool Plum</p>
    </div>
    </div>
    <style>
     .container{
        width:90%;
        margin-left: auto;
        margin-right: auto; 
        padding:5px;
        border:5px double #3498db;       
      }
      .header{
        background: #3498db;
        padding:10px;
        text-indent: 20px;
        color:white;
        font-size: 30px;
      }
      h1{
        color:gray;
      }
      .content{
        padding:10px;
        font-size: 18px;
        /*background-image: url('images/background/CPlum-Tree-Mail.png');*/
      }

    </style>
  </body>
</html>