<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
  <div class="container">
    <div class="header">Cool Plum</div>
    <div class="content">
    <h1>Hi, <%= @user[:name] %>!</h1>
    <p>We are very glad for this opportunity to meet you..</p>
    <p>
      Cool Plum will provide you with comfortable and useful supports on development<br> 
      such as Ruby on rails, Magento, Wordpress, iOS and Adroid.<br>
      And then clean and mordern web and mobile design with twitter bootstrap, html5 and css3.<br>
      We will also support jQuery, Node.js, AngularJs, Extjs and so foth.
    </p>
    <p>Thanks for contacting and have a great day!</p>
    <p>Best Regard...</p>
    <p>Cool Plum</p>
    </div>
    </div>
    <style>
     .container{
        width:90%;
        margin-left: auto;
        margin-right: auto; 
        padding:5px;
        border:5px double #3498db;       
      }
      .header{
        background: #3498db;
        padding:10px;
        text-indent: 20px;
        color:white;
        font-size: 30px;
      }
      h1{
        color:gray;
      }
      .content{
        padding:10px;
        font-size: 18px;
        /*background-image: url('images/background/CPlum-Tree-Mail.png');*/
      }

    </style>
  </body>
</html>