<section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-ruby icon-md icon-color7"></i>
                            <h4>Ruby on Rails development</h4>
                            <p>Cool Plum will provide you with a development with Ruby on rails at high speed and bug-free.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-magento icon-md icon-color8"></i>
                            <h4>Magento development</h4>
                            <p>Though there a lot of issue, your eCommerce development will meet the deadline by our eCommerce developers. </p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-wordpress icon-md icon-color9"></i>
                            <h4>Wordpress development</h4>
                            <p>Cool Plum will provide you with a Wordpress development with wonderful themes and useful plugins.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-apple icon-md icon-color1"></i>
                            <h4>iOS development</h4>
                            <p>Cool Plum will provide you with a iOS development with high speed and bug-free...</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-android icon-md icon-color2"></i>
                            <h4>Android development</h4>
                            <p>Cool Plum will provide you with a Android development with high speed and bug-free...</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-windows icon-md icon-color3"></i>
                            <h4>Windows Phone development</h4>
                            <p>Cool Plum will provide you with a Windows Phone development with high speed and bug-free...</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-html5 icon-md icon-color4"></i>
                            <h4>HTML5 development</h4>
                            <p>Cool Plum will provide you with a HTML development with high speed and bug-free...</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-css3 icon-md icon-color5"></i>
                            <h4>CSS3 development</h4>
                            <p>Cool Plum will provide you with a CSS development with high speed and bug-free...</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center">
                            <i class="icon-thumbs-up icon-md icon-color6"></i>
                            <h4>Responsive web design</h4>
                            <p>Cool Plum will provide you with a Web and Mobile Design with customized js and css..</p>
                        </div>
                    </div><!--/.col-md-4-->
                    
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->