<section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <%=image_tag 'images/portfolio/responsive.png' %> 
                        <!-- <h1>Free Onepage Theme</h1>-->
                        <p class="lead">Clean and simple design with Bootstrap and HTML templates<br>contact us right now</p> 
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <%=image_tag 'images/portfolio/responsive-design-img-avg.png' %>
                        <!-- <h1>ShapeBootstrap.net</h1> -->
                        <p class="lead">Large scale Ruby on rails development with complex logic <br>from cool plum</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <%=image_tag 'images/portfolio/responvsive-exttravel.png' %>
                        <!-- <h1>ShapeBootstrap.net</h1> -->
                        <p class="lead">Amazing Wordpress development with responsive themes and useful pluins<br>from coolplum</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <%=image_tag 'images/portfolio/responsive-design-img-hitportal.png' %>
                        <!-- <h1>ShapeBootstrap.net</h1> -->
                        <p class="lead">Customer-based eCommerce site development with spree, magento and woocommerce <br>from coolplum</p>
                    </div>
                </div>
            </div><!--/.item-->       
            
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->