<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Alexander</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <%=image_tag "images/alexander.png", class:"pull-right" %>
                    
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

   
</body>
</html>